
/* You can add global styles to this file, and also import other style files */
html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;

}

.flex {
  display: flex;
  &--column {
    display: flex;
    flex-flow: column;
  }
  &--centered {
    &__vertically {
      justify-content: center;
    }
    &__horizontally {
      align-items: center;
    }
    &__both {
      justify-content: center;
      align-items: center;
    }
  }
}
