//$color1: #00B9AE;
//$color2: #037171;
//$color3: #03312E;

$color0: #1d2428;
$color1: #282b30;
$color1-accent: #23292d;
$color2: #1D2D44;
$color3: #3E5C76;
$color4: #12a5a4;
$color5: #9dfffb;

/*
$color-dark-1: #10141D;
$color-dark-2: #161B27;
$color-dark-text: #EEEEEE;
$color-dark-cell: #0C111C;
$color-dark-cell-hover: #1e2631;
$color-dark-row-border-bottom: 1px solid #676767;
*/

$color-dark-1: #fff;
$color-dark-2: #fff;
$color-dark-text: #5b5959;
$color-dark-cell: #f7f7f7;
$color-dark-cell-hover: #dcdbdb;
$color-dark-row-border-bottom: 1px solid #e6e6e6;
