<div style="max-height: 100%; display: flex; flex-flow: column; position: relative">
  <div class="settings-section">

    <span class="settings-section--header">Histogram parameters</span>
    <div class="settings-section--content setting--input">
      <span>Buckets:</span>
      <input [min]="1" [value]="buckets" (input)="onBucketChange($event)">
    </div>
  </div>

  <div class="settings-section histogram-container">
    <span class="settings-section--header">Histogram</span>
    <div class="settings-section--content" style="height: 100%">
      <canvas #histogram class="histogram"></canvas>
    </div>
  </div>

</div>
