$bg: #f7f7f7;
$border: 1px solid #e6e6e6;
$text: #5b5959;

.table {
  display: flex;
  flex-flow: row;
  font-family: Bahnschrift;
  height: min-content;
  flex-wrap: wrap;

  &--column {
    flex-grow: 1;
    display: block;
    min-width: 10ch;
    height: min-content;
  }

  &--footer {
    display: flex;
    align-items: center;
    padding: 10px;
    flex-basis: 100%;

    &__progress {
      justify-content: left;
    }

    &__pager {
      display: flex;
      align-items: center;
      margin-left: auto;
      select {
        outline: none;
        border: none;
        border-bottom: $border;
        padding: 5px;
        cursor: pointer;

      }
      option {
        cursor: pointer;
      }

      button {
        margin: 0;
        padding: 0;
        cursor: pointer;
        border: none;
        outline: none;
        background-color: inherit;
        transition: 0.3s;
        width: 22px;
        height: 22px;

        &[disabled] {
          cursor: not-allowed;
        }

        &:hover {
          background-color: $bg;
        }

        app-icon svg {
          width: 22px;
          height: 22px;
        }
      }
    }
  }

  &--header {
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }

  &--cell {
    color: $text;
    padding: 5px;
    text-align: center;
    border-bottom: $border;
    cursor: pointer;
    background-color: $bg;

    &__hover {
      background-color: #dcdbdb;
    }
  }

}

.flex--break--row {
  flex-basis: 100%;
  height: 0;
}


