@import "../../../variables";

.canvas-part {
  position: relative;
  border: 1px solid $color4;
  border-radius: 5px;
  box-sizing: border-box;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-flow: column;

  &--slider {
    height: 100%;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;

    &__holder {
      height: calc(100% - 20px);
      margin-top: 5px;
      position: relative;
      width: 12px;

      &> input {
        width: calc(100vh - 100px);
        height: 12px;
        left: 12px;
        padding: 0;
        position: absolute;
        top: 25px;
        transform: rotate(90deg);
        transform-origin: top left;
        -webkit-appearance: none;
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }

  &__draw-area {
    width: 100%;
    height: 100%;
  }

  &--header {
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;

    &__wrapper {
      line-height: 30px;
      display: flex;
      width: 100%;
      height: 30px;
      color: white;
      border-bottom: 1px solid $color4;
    }
  }
}
