<div class="flex">
  <div class="tools--list">

    <span class="tools--list--entry"
      [class.tools--list--entry--active]="tool === tol"
      (click)="changeTool(tol)"
      *ngFor="let tol of tools"
    >
      <app-icon class="tools--list--entry__icon" [icon]="tol.toolIcon"></app-icon>
      <span class="tools--list--entry__tooltip">{{ tol.toolName }}</span>
    </span>

    <span class="tools--list--entry" (click)="enabled = !enabled">
      <app-icon class="tools--list--entry__icon" [icon]="currentLayout.icon"></app-icon>
      <span class="tools--list--entry__tooltip">MPR</span>
      <span class="grid-selector" *ngIf="enabled">
        <ng-container *ngFor="let layout of layouts">
          <app-icon class="grid-selector-element" [icon]="layout.icon" (click)="changeLayout(layout)"></app-icon>
        </ng-container>
      </span>
    </span>

    <span class="tools--list--entry" (click)="export()">
      <app-icon class="tools--list--entry__icon" icon="camera"></app-icon>
      <span class="tools--list--entry__tooltip">Export</span>
    </span>

    <span class="tools--list--entry" (click)="reset()">
      <app-icon class="tools--list--entry__icon" icon="reset"></app-icon>
      <span class="tools--list--entry__tooltip">Reset</span>
    </span>
    <span class="tools--list--entry" (click)="readCurrentSlicePixels()">
      <app-icon class="tools--list--entry__icon" icon="reset"></app-icon>
      <span class="tools--list--entry__tooltip">read</span>
    </span>
  </div>

  <div #parent class="editor--wrapper">
    <div class="loading--wrapper" *ngIf="download?.state !== 'DONE'">
      <div class="loading">
        <app-progress-ring
          #progressIndicator
          [radius]="150"
          [stroke]="8"
          [progress]="download?.progress ?? 0"
          label="Downloading slices"
        ></app-progress-ring>
      </div>
    </div>


    <!--<div class="editor-grid" [style.grid-template-columns]="'1fr '.repeat(canvases.length)">-->
    <div class="editor-grid"
         [style.grid-template-areas]="currentLayout.templateAreas">
      <canvas #canvas class="editor"> </canvas>
      <ng-container #container></ng-container>
    </div>
  </div>



  <div class="sidebar" *ngIf="sidebarMode !== SidebarMode.NONE">
    <ng-container [ngSwitch]="sidebarMode">
      <app-areas-sidebar
        *ngSwitchCase="SidebarMode.MEASUREMENTS"
        [editor]="this"
        [isHidden]="sidebarActive"
        [shapes]="shapes">
      </app-areas-sidebar>
      <app-nestable-table
        *ngSwitchCase="SidebarMode.TAGS"
        [data]="tagsTable">
      </app-nestable-table>

      <div *ngSwitchCase="SidebarMode.SETTINGS" style="display: flex; flex-flow: column">
        <app-settings
          [settings]="gathserSettings()"
        >
        </app-settings>
      </div>
      <div *ngSwitchCase="SidebarMode.HISTOGRAM" style="display: flex; flex-flow: column">
        <app-histogram [data]="buckets"></app-histogram>
      </div>
    </ng-container>
  </div>

  <div class="bar">
    <div class="bar--options">
      <span
        [class.bar--option__active]="sidebarMode === SidebarMode.SETTINGS"
        class="bar--option" (click)="switchSidebar(SidebarMode.SETTINGS)">
        <app-icon class="bar--option__icon" icon="settings"></app-icon>
        <span>Settings</span>
      </span>
      <span
        [class.bar--option__active]="sidebarMode === SidebarMode.TAGS"
        class="bar--option" (click)="switchSidebar(SidebarMode.TAGS)">
        <app-icon class="bar--option__icon" icon="tags"></app-icon>
        <span>Tags</span>
      </span>
      <span
        [class.bar--option__active]="sidebarMode === SidebarMode.MEASUREMENTS"
        class="bar--option" (click)="switchSidebar(SidebarMode.MEASUREMENTS)">
        <app-icon class="bar--option__icon" icon="ruler"></app-icon>
        Measurements
      </span>
      <span
        [class.bar--option__active]="sidebarMode === SidebarMode.HISTOGRAM"
        class="bar--option" (click)="switchSidebar(SidebarMode.HISTOGRAM)">
        <app-icon class="bar--option__icon" icon="chart"></app-icon>
        Histogram
      </span>
    </div>
  </div>

</div>


