<div class="flex">
  <div class="tools--list">

    <span class="tools--list--entry" (click)="sidebarActive = !sidebarActive">
      <app-icon class="tools--list--entry__icon" [icon]="sidebarActive ? 'double_left' : 'double_right'"></app-icon>
      <span class="tools--list--entry__tooltip">{{ sidebarActive ? 'Hide' : 'Show' }}</span>
    </span>

    <span class="tools--list--entry"
      [class.tools--list--entry--active]="tool === tol"
      (click)="changeTool(tol)"
      *ngFor="let tol of tools"
    >
      <app-icon class="tools--list--entry__icon" [icon]="tol.toolIcon"></app-icon>
      <span class="tools--list--entry__tooltip">{{ tol.toolName }}</span>
    </span>

    <span class="tools--list--entry" (click)="enabled = !enabled">
      <app-icon class="tools--list--entry__icon" icon="grid"></app-icon>
      <span class="tools--list--entry__tooltip">Grid</span>
      <span class="grid-selector" *ngIf="enabled">
        <span
          *ngFor="let z of [].constructor(3); let i = index"
          [class.grid-selector-element-active]="currentHover >= i"
          (mouseover)="hover(i)"
          (mouseout)="hover(-1)"
          (click)="grid(i + 1)"
          class="grid-selector-element"
        ></span>
      </span>
    </span>

    <span class="tools--list--entry" (click)="export()">
      <app-icon class="tools--list--entry__icon" icon="camera"></app-icon>
      <span class="tools--list--entry__tooltip">Export</span>
    </span>
  </div>

  <app-areas-sidebar
    [editor]="this"
    [isHidden]="sidebarActive"
    [shapes]="shapes">
  </app-areas-sidebar>

  <div [class.loading--background]="progress.now !== progress.full" #parent class="editor--wrapper">
    <div class="loading--wrapper" *ngIf="progress.now !== progress.full && !progressIndicator?.ringClosed">
      <div class="loading">
        <app-progress-ring
          #progressIndicator
          [radius]="150"
          [stroke]="8"
          [progress]="progress.percentage"
          label="Downloading slices"
        ></app-progress-ring>
      </div>
    </div>

    <canvas #canvas class="editor"> </canvas>
    <div class="editor-grid" [style.grid-template-columns]="'1fr '.repeat(canvases.length)">
      <ng-container #container></ng-container>
    </div>
  </div>

</div>
