@import "../../../variables";

.navbar {
  height: 44px;
  display: flex;
  align-items: center;
  background: $color0;

  &--main {
    padding-left: 30px;
    font-size: 1.125rem;
    color: white;
    font-family: "myriad-pro-1", "myriad-pro-2", HelveticaNeue, Helvetica, Arial, serif;
    font-weight:700;
    white-space: nowrap;
    cursor: pointer;
  }

  .navbar {

    &--items {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 5em;
      font-family: Bahnschrift, serif;
    }

    &--item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 3em;
      cursor: pointer;

      &__icon {
        & > * svg {
          fill: white;
        }
      }

      &__text {
        margin-left: 1em;
        color: white;
      }
    }

    &--user {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      margin-right: 3em;
      cursor: pointer;
      &__avatar {
        width: 24px;
        height: 24px;
        color: #fff;
      }
      &__name {
        margin-left: 10px;
        color: #fff;
      }
      &__more-icon {
        margin-left: 10px;
        width: 12px;
        height: 12px;
        transform: scale(1, -1);
        color: #fff;
      }
    }
  }
}

.user-menu {
  z-index: 999;
  position: absolute;
  top: 34px;
  width: 100%;
  box-sizing: border-box;
  //padding: 0 10px 0 10px;
  border-radius: 0 0 5px 5px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  background: $color0;
  color: #fff;
  &--item {
    display: flex;
    align-items: center;
    border-radius: 5px;
    &__icon {
      width: 24px;
      height: 24px;
      margin: 3px 8px 3px 10px;
    }
    &__label {

    }
  }
}
