.slider {
  /*display: flex;
  flex-flow: row;*/

  &__wrapper {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
  }

  input[type=range] {
    width: 100%;
  }

  input[type=range]::-webkit-slider-thumb {
    background: red;
    cursor: pointer;
    -webkit-appearance: none;
  }

  .min-max {
    width: 100%;
    display: flex;
    font-size: 12px;
    .min {
      margin-left: 5px;
      flex-grow: 1;
    }
  }

}
