<div class="sidebar">
  <div class="sidebar--user">
    <div class="sidebar--user__item">{{user?.firstName}} {{user?.lastName}}</div>
    <div class="sidebar--user__item">Email: {{user?.email}}</div>
    <div class="sidebar--user__item">Role: {{user?.role}}</div>
  </div>

  <div class="sidebar--divider"></div>

  <div *ngIf="role.Patient !== user?.role" routerLink="/patients" class="sidebar--item">
    <div class="sidebar--item--icon">
      <app-icon icon="search"></app-icon>
    </div>
    <span class="sidebar--item__text">Find Patient</span>
  </div>

  <div *ngIf="role.Patient === user?.role" class="sidebar--item">
    <div class="sidebar--item--icon">
      <app-icon icon="folder"></app-icon>
    </div>
    <span class="sidebar--item__text">My Files</span>
  </div>

  <div class="sidebar--item">
    <div class="sidebar--item--icon">
      <app-icon icon="settings"></app-icon>
    </div>
    <span class="sidebar--item__text">Settings</span>
  </div>

  <div (click)="logout()" class="sidebar--item">
    <div class="sidebar--item--icon">
      <app-icon icon="logout"></app-icon>
    </div>
    <span class="sidebar--item__text">Logout</span>
  </div>
</div>
