@import "../../../variables";

.sidebar {
  box-sizing: border-box;
  padding: 30px;
  width: 30ch;
  height: calc(100vh - 44px);
  font-family: Bahnschrift;
  transition: 0.5s;
  background: $color-dark-1;
  color: $color-dark-text;
  border-right: $color-dark-row-border-bottom;

  &>*svg {
    fill: $color-dark-text;
  }

  &--user {
    &__item {
      font-size: 1.125rem;
    }
  }

  &--divider {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #B0FF92;
  }

  &--item {
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    transition: all 0.5s ease-in-out;

    &--icon {
      padding: 5px;
      app-icon svg {

      }
    }

    &__text {
      margin-left: 5px;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      background-color: #B0FF92;

      .sidebar--item__text {
        margin-left: 10px;

      }
    }
  }
}
